@model IEnumerable<Entities.CustomerInfo>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<!-- end: sidebar -->

<section role="main" class="content-body">
    <header class="page-header">
        <h2>Kullanıcı Yetkilendirme</h2>

        <div class="right-wrapper text-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fas fa-home"></i>
                    </a>
                </li>
                <li><span>Tables</span></li>
                <li><span>Responsive</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
        </div>
    </header>

    <!-- start: page -->

    <div class="row">
        <div class="col">
            <section class="card">
                <header class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                        <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                    </div>

                    <h2 class="card-title">Modül Seç</h2>
                </header>
                <div class="card-body">
                    <table class="table table-responsive-lg table-bordered table-striped table-sm mb-0">
                        <thead>
                            <tr>
                                <th> Modül </th>
                                <th> Fiyat </th>
                                @foreach (var item in Model)
                                {
                                    <th class="text-right">@item.Name.</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            <div id="checkboxlist">
                                <tr id="deneme" no="1">
                                    <td> </td>
                                    <td> 5.5 </td>
                                    <td> <div><input type="checkbox" value="11" class="chk" no="5.5"> </div> </td>
                                    <td> <div><input type="checkbox" value="12" class="chk" no="5.5"> </div> </td>
                                </tr>
                                <tr id="deneme" no="2">
                                    <td> </td>
                                    <td>66 </td>
                                    <td> <div><input type="checkbox" value="21" class="chk" no="66"> </div> </td>
                                    <td> <div><input type="checkbox" value="22" class="chk" no="66"> </div> </td>
                                </tr>
                            </div>

                        </tbody>
                    </table>

                    <table>
                        <tr>
                            <td>
                                <div id="tutar" class="tutar" val="">
                                    Tutar:
                                    <div id="tutar1" class="">

                                    </div>
                                    <div>
                                        <input type="button" value="Hesapla" id="Hesapla">
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>


            </section>
        </div>
    </div>

</section>


<!-- Vendor -->

